* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;

    --color-alfa: rgba(255, 255, 255, 1);
    --color-beta: rgba(0, 0, 0, 1);
    --color-gamma: rgba(44, 44, 44, 1);
    --color-gammav2: rgb(109, 108, 108);
    --color-delta: rgb(37, 150, 248);
    --color-epsilon: rgb(54, 233, 236);
    --color-zeta: rgb(255, 215, 0);


    --color-icon1: rgb(78, 172, 253);
    --color-icon2: rgb(253, 147, 94);
    --color-icon3: rgb(55, 239, 141);

    --gradient-alfa: linear-gradient(90deg, rgba(37, 148, 248, 0.9) 0%, rgba(54, 233, 236, 0.9) 100%);

    --color-subscription-1: rgb(233, 244, 254);
    --color-subscription-2: rgb(254, 244, 238);
    --color-subscription-3: rgb(232, 252, 241);
}

.wrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, minmax(min-content, max-content));
    margin: 0 auto;
    overflow: hidden;
}