.header,
.main,
.features,
.review,
.subscription,
.notice,
.footer {
    grid-column: 1 / 13;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header__nav {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
}

.header__logo {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    align-self: center;
}

.nav__hamburger {
    grid-column: 10 / 12;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
}

.header__heading {
    grid-column: 2 / 12;
    grid-row: 2 / 3;
}

.header__description {
    grid-column: 2 / 12;
    grid-row: 3 / 4;
}

.header__button {
    grid-column: 2 / 9;
    grid-row: 4 / 5;
}

.header__graphics {
    grid-column: 1 / 13;
    grid-row: 5 / 6;
    justify-self: center;
}

.main__heading {
    grid-column: 2 /12;
    grid-row: 1 / 2;
}

.main__strengths--first {
    grid-column: 5 / 9;
    grid-row: 2 / 3;
    justify-self: center;
}

.main__strengths--second {
    grid-column: 5 / 9;
    grid-row: 3 / 4;
    justify-self: center;
}

.main__strengths--third {
    grid-column: 5 / 9;
    grid-row: 4 / 5;
    justify-self: center;
}


.features__heading {
    grid-column: 2 / 12;
    grid-row: 1 / 2
}

.features__description {
    grid-column: 2 / 12;
    grid-row: 2 / 3;
}

.features__button {
    grid-column: 2 / 9;
    grid-row: 3 / 4;
}

.features__graphics {
    grid-column: 2 / 12;
    grid-row: 4 / 5;
}


.review__heading {
    grid-column: 2 / 12;
    grid-row: 1 / 2;
}

.review__description {
    grid-column: 2 / 12;
    grid-row: 2 / 3;
}

.review__author {
    grid-column: 2 / 12;
    grid-row: 3 / 4;
    justify-self: center;
}



.subscription__heading {
    grid-column: 2 / 12;
    grid-row: 1 / 2;
}

.subscription__description {
    grid-column: 2 / 12;
    grid-row: 2 / 3;
}

.subscription__offer--first {
    grid-column: 2 / 12;
    grid-row: 3 / 4;
}

.subscription__offer--second {
    grid-column: 2 / 12;
    grid-row: 4 / 5;
}

.subscription__offer--third {
    grid-column: 2 / 12;
    grid-row: 5 / 6;
}




.notice__heading {
    grid-column: 2 / 12;
    grid-row: 1 / 2;
    text-align: center;
}

.notice__content {
    grid-column: 2 / 12;
    grid-row: 2 / 3;
    text-align: center;
}

.footer__logo {
    grid-column: 2 / 7;
    grid-row: 1 / 2;
}

.footer__quotation {
    grid-column: 2 / 11;
    grid-row: 2 / 3;
}

.footer__socials {
    grid-column: 2 / 7;
    grid-row: 3 / 4;
}

.footer__nav {
    grid-column: 2 / 9;
    grid-row: 4 / 5;
}

.footer__copyright {
    grid-column: 1 / 13;
    grid-row: 5 / 6;
}